<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #bl{
            width: 50%;
            height: 200px;
            background-color: aquamarine;
        }

        #bt {
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div id="bl"><h1 id="bt">Hello World</h1></div>
    <a href="home"></a>
</body>
</html>